---
import Layout from '../layouts/Layout.astro';
import InfoIndex from '../components/InfoIndex.astro';
import { Image } from 'astro:assets';
import TechList from '../components/TechList.astro';

const technologiesFE = [
    { name: "HTML", src: "html.png" },
    { name: "CSS", src: "css.png" },
    { name: "Bootstrap", src: "bootstrap.png" },
    { name: "Tailwind", src: "tailwind.png" },
    { name: "NextJS", src: "nextjs.png" },
    { name: "AstroJS", src: "astrojs.png" }
];

const technologiesBE = [
    { name: "JS", src: "js.png" },
    { name: "TS", src: "ts.png" },
    { name: "JAVA", src: "java.png" },
    { name: "NodeJS", src: "nodejs.png" },
    { name: "Python", src: "python.png" },
    { name: "SpringBoot", src: "springboot.png" }
];
---

<Layout title="Franklin Gutierrez - Estudiante de TI">
    <div class="md:w-3/4 mx-auto mt-20">
        <div class="text-center mb-12">
            <Image 
                src="/images/franklinIMG.jpeg"
                alt="Franklin Gutierrez"
                width={200}
                height={200}
                class="rounded-full border-4 border-gray-600 mx-auto mb-6 sm:w-6/12 md:w-3/12"
            /> <!--<Image />puede transformar las dimensiones , el tipo de archivo y la calidad de una imagen local o remota autorizada para controlar la imagen que se muestra.  -->
          <h1 class="sm:text-2xl md:text-4xl font-bold text-gray-600 mb-2">Franklin Gutierrez</h1>
          <h1 class="sm:text-base md:text-xl text-gray-600">Estudiante de Ing. en Sistemas UNAH</h1>
        </div>

        <InfoIndex title='Sobre mi' content='Apasionado por las tecnologías de la información, con un enfoque particular en el desarrollo de software y soluciones de backend. Actualmente, curso el cuarto año de la carrera de Ingeniería en Sistemas en la Universidad Nacional Autónoma de Honduras (UNAH), donde he tenido la oportunidad de trabajar en diversos proyectos académicos, destacando en la implementación de lógica de negocios y la gestión de bases de datos. Mi experiencia no se limita a la parte técnica; también he participado activamente en talleres y actividades que han potenciado mis habilidades en trabajo en equipo, comunicación efectiva y resolución de problemas, cualidades clave en cualquier entorno profesional. Estoy comprometido con seguir aprendiendo y contribuir a proyectos desafiantes que impulsen la innovación y la eficiencia tecnológica en las organizaciones.'></InfoIndex>

        <InfoIndex title='Curiosidad' content='Apasionado por los deportes, especialmente el fútbol y el tenis, desde temprana edad he comprendido el valor del esfuerzo, la disciplina y el trabajo en equipo. Aunque ya no practico fútbol de manera regular, lo mantengo como una actividad física en mi tiempo libre, buscando siempre mantener un estilo de vida equilibrado y activo. Valoro tanto la participación como el apoyo al deporte, ya sea asistiendo a eventos en vivo o a través de plataformas digitales, y disfruto promoviendo la importancia de las actividades físicas entre quienes me rodean. Mi experiencia en deportes me ha enseñado a colaborar eficazmente, adaptarme a diferentes roles dentro de un equipo y mantener un enfoque claro en los objetivos comunes, cualidades que llevo conmigo en cada proyecto de desarrollo en el que participo. Estoy convencido de que la misma dedicación, compromiso y trabajo en equipo que el deporte exige, se traducen en éxito en los equipos de desarrollo tecnológico.'></InfoIndex>

        <InfoIndex title='Actividades de aprendizaje y proyectos' content='A lo largo de mi proceso de formación profesional he tenido la oportunidad de desarrollar diferentes proyectos de clase con diferentes lenguajes de programación, metodologías y paradigmas. Actualmente participo en la creación de proyectos con impacto social del Fablab de la Cámara de Comercio e Industrias de Tegucigalpa (CCIT), donde he tenido la oportunidad de desarrollar habilidades blandas (cómo hablar en público, trabajo en equipo en entornos laborales, comunicación y colaboración) y habilidades técnicas (programación básica en Arduino, diseño y modelado 3D). He participado en actividades sociales, como ser jornadas de reforestación, apoyo en instituciones de servicio social y realización de trabajo comunitario en mi sector de residencia.'></InfoIndex>

        <div class="mt-12">
            <h2 class="sm:text-lg md:text-2xl font-bold text-gray-700 mb-6">Tecnologías Utilizadas</h2>
          
            <div class="mb-16 text-center">
                <h3 class="sm:text-base md:text-xl font-semibold text-gray-600 mb-4">Frontend</h3>
                <TechList technologies={technologiesFE} />
            </div>
          
            <div class="mb-16 text-center">
                <h3 class="sm:text-base md:text-xl font-semibold text-gray-600 mb-4">Backend</h3>
                <TechList technologies={technologiesBE} />
            </div>
        </div>

    </div>
</Layout>
