---
export interface Props {
    content: string;
    href: string
}

const { content, href } = Astro.props;
---

<a href={ href } class="bg-transparent hover:bg-gray-200 py-2 sm:px-2 md:px-4 border-2 border-gray-400 hover:border-transparent hover:text-gray-600 rounded sm:text-xs md:text-sm font-semibold leading-6 text-gray-100 shadow">
    { content }
</a>