---
import { Image } from 'astro:assets';
import ButtonHeader from './ButtonHeader.astro';
---

<header>
    <nav class="bg-[#64748b] container mx-auto flex justify-around sm:p-1 md:p-3 max-w-full fixed" aria-label="Global">
        <div class="flex items-center sm:space-x-2 md:space-x-4">
            <Image
                src="/images/rap.jpeg"
                alt="Franklin Gutierrez"
                width={50}
                height={50}
                class="rounded-full border-2 border-gray-200"
            />
            <div>
                <h1 class="sm:text-sm sm:w-20 md:w-full md:text-xl font-bold text-gray-100">Franklin Gutierrez</h1>
            </div>
          </div>
        <div class="flex items-center space-x-4">
            <ButtonHeader href="/" content="Acerca de mi"/>    
            <ButtonHeader href="/projects" content="Proyectos"/>   
            <!--<ButtonHeader href="/" content="Cursos y certificaciones"/>-->   
        </div>
    </nav>
</header>
  