---
export interface Props {
    title : string;
    content : string
}

const { title, content } = Astro.props;
---

<div class="space-y-10 my-10" style="text-align: justify;">
    <section class="bg-white p-8 rounded-lg shadow-md transition-all duration-300 hover:shadow-lg">
        <h2 class="sm:text-lg md:text-2xl font-semibold text-gray-600 mb-4">
            <span> { title } </span>
        </h2>
        <p class="sm:text-sm md:text-base md:tracking-wide text-gray-700 leading-relaxed">
            { content }
        </p>
    </section>
</div>