---
import Header from '../components/Header.astro';
import '@fontsource-variable/raleway';

export interface Props {
    title: string;
}

const { title } = Astro.props; //Estas props estarán disponibles para ser utilizadas en el renderizado del maquetado HTML y además estarán disponibles en el script del componente de manera global dentro del objeto Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
</head>
<body>
    <div class="flex-1">
        <Header />
        
        <main class="p-8">
            <slot /> <!--El elemento <slot /> es un espacio reservado para contenido HTML externo, permitiéndote inyectar (o ingresar en la “ranura”) elementos hijos provenientes de otros archivos en el maquetado de tu componente. -->
        </main>
      </div>
</body>
</html>

<style>
    body {
        font-family: 'Raleway Variable', sans-serif;
        background-color: #cbd5e1;
    }
</style>